<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document

        script(src="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit.min.js")

        link(rel="stylesheet", href="css/main.css")
    body
        .wrapper
            .fixed
                .gradient
                .slogan
                    p Mezoluxe microneedling regeneration home-kit
            .container
                section.hero
                    .hero-image__layout
                            .woman-image
                    .container    
                        .top-panel
                            .logo
                                img.logo-img__left(src="images/logo.png", alt="")
                        .hero-title
                                h1
                                    |Real 
                                    br
                                    span microneedling 
                                    |results
                        .hero-subtitle
                                h2.
                                    Fast. Home use.
            section.product
                .container
                    .product-price__left__card
                        .product-image
                            img(src="images/pack.png", alt="")
                        .product-price__price
                            .old-price 80$
                            .new-price
                                |new price 
                                span 45$
                            .order-button
                                span Order now
                    .product-info__right
                        .product-info__item
                            .title
                                h2 MEZOLUXE ROLLER
                                h3 540 titanium microneedles 
                            p 
                                |stimulate skincare
                                br 
                                |renewal
                        .product-info__item
                            .title
                                h2 ANTI-AGEING SERUM
                                h3 Lecithin, Nicotinamide, Hyaluronic acid
                            p 
                                |Boosts collagen 
                                br 
                                |production
            section.wrinkles
                .container
                    .title__primary-title
                        h2 Wrinkles...
                    .desc__left
                        p Millions of women have them, hate them, and want to get rid of them.
                    .image-item__right
                        img(src="images/Wrinkles.jpg", alt="")
                .container
                    .content-item__left
                        .content-item__image
                            img(src="images/skin_image_1.png", alt="")
                        .content-item__text
                            p.
                                Wrinkles appear when skin loses elasticity. To get rid of them, it’s necessary to increase collagen production.
                    .content-item__left
                        .content-item__image
                            img(src="images/skin_image_2.png", alt="")
                        .content-item__text
                            p.
                                Skin care products can’t independently influence collagen levels. They don’t penetrate deep layers of skin - they only moisturise from outside.
                    .content-item__left
                        .content-item__image
                            img(src="images/skin_image_3.png", alt="")
                        .content-item__text
                            p.
                                Mezoroller makes cosmetics 40 times more effective by allowing them to penetrate deeper and work from the inside.
            section.stimulate
                .container
                    .title__primary-title
                        h2 Stimulate
                    .desc__left
                        p.
                            Mezoluxe works towards results instead of making empty promises
                .container
                    .content-item__left
                        .content-item__image
                            img(src="images/skin_image_4.png", alt="")
                        .content-item__text
                            h3 Penetrates
                            p.
                                540 titanium 0.05 mm microneedles long - as thick as a human hair - pierce the outer layer of skin (epidermis), the traumatic impact is mimimised..
                    .content-item__left
                        .content-item__image
                            img(src="images/skin_image_5.png", alt="")
                        .content-item__text
                            h3 Nourishes
                            p.
                                540 titanium 0.05 mm microneedles long - as thick as a human hair - pierce the outer layer of skin (epidermis), the traumatic impact is mimimised..
                    .content-item__left
                        .content-item__image
                            img(src="images/skin_image_5.png", alt="")
                        .content-item__text
                            h3 Renews
                            p.
                                Cells start to produce 200% more collagen after just first use. In a week, wrinkles flatten, pigmentation spots lighten.. 
            section.nourishes
                .container
                    .title__primary-title
                        h2 Nourishes
                    .nourishes-items
                        div.__left
                            .nourishes-desc
                                p.
                                    ANTIAGE serum immediately gets into deep layers of the skin through holes made by a mezoroller. It acts directly in cells, stimulating collagen synthesis and smoothing wrinkles from inside.
                        div.__left
                            .skin-image
                                img(src="images/skin-image.png", alt="")
                                .desc
                                    ul.uk-switcher.switcher-container
                                        li._1
                                            p.
                                                Restores damaged cells, helps nutrients and vitamins to penetrate the skin better.
                                        li._2
                                            p.
                                                Text item 2. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est blanditiis nihil illum porro eum optio eos earum aliquam nam id?
                                        li
                                            p.
                                                Text item 3, dolor sit amet consectetur adipisicing elit. Est blanditiis nihil illum porro eum optio eos earum aliquam nam id?

                        div.__left
                            ul.switcher(uk-switcher="connect: .switcher-container; animation: uk-animation-fade;")
                                li.switcher-item
                                    a(href="#")
                                        .item-title
                                            h3 Lecithin
                                            .mark.uk-animation-fade
                                            .pin.__1.uk-animation-fade
                                                .dot
                                        p.
                                            Functions: building and transportation
                                li.switcher-item
                                    a(href="#")
                                        .item-title
                                            h3 Nicotinamide
                                            .mark.uk-animation-fade
                                            .pin.__2.uk-animation-fade
                                                .dot                                           
                                        p.
                                            Functions: synthesis, protection
                                li.switcher-item
                                    a(href="#")
                                        .item-title
                                            h3 Hyaluronic acid
                                            .mark.uk-animation-fade
                                            .pin.__3.uk-animation-fade
                                                .dot
                                        p.
                                            Functions: moisturising, nourishing
            // end section nourishes
            section.effect
                .container
                    .title__primary-title
                        h2 
                            span wow 
                            br
                            |Effect
                .container.__card
                    .product-image__left
                        .product-image__title
                            h3 Mezoroller + ANTIAGE serum
                        .product-image__img
                            img(src="images/pack.png", alt="")
                    .slideshow-effect__right
                        div(uk-slideshow="animation: fade")
                            .uk-slideshow-items
                                div
                                    .slide__title
                                        h4 Pigmentation spots
                                    div.item
                                        img(src="images/slide_img_1.jpg", alt="")
                                        p Before using Mezoluxe
                                    div.item
                                        img(src="images/slide_img_2.jpg", alt="")
                                        p After 1 week using Mezoluxe
                                    div.item
                                        img(src="images/slide_img_3.jpg", alt="")
                                        p WOW. Serum + Mezoroller
                                div
                                    .slide__title
                                        h4 2 pam pam
                                    div.item
                                        img(src="images/slide_img_1.jpg", alt="")
                                        p 2 Before using Mezoluxe
                                    div.item
                                        img(src="images/slide_img_2.jpg", alt="")
                                        p 2 After 1 week using Mezoluxe
                                    div.item
                                        img(src="images/slide_img_3.jpg", alt="")
                                        p 2 WOW. Serum + Mezoroller
                            .slideshow-nav
                                div.block__left(uk-slideshow-item="0")
                                    img(src="images/slideshow-item-0.jpg", alt="")
                                div.block__left(uk-slideshow-item="1")
                                    img(src="images/slideshow-item-1.jpg", alt="")                                    
            section.go_ahead
                .container
                    .title__primary-title
                        h2 Go Ahead!
                    .sub_title
                        h3  60 seconds 3 times a week
                    div.step-item
                        .step-1
                            .image
                                img(src="images/step_img_1.png", alt="")
                            .title step
                                .number 1
                            .text
                                p Cleanse skin with your normal facial cleanser
                    div.step-item
                        .step-2
                            .image
                                img(src="images/step_img_2.png", alt="")
                            .title step
                                .number 2
                            .text
                                p Using mild pressure, gently roll back and forth at the same intensity on the treatment area 5-10 times in each of the four directions – horizontally, vertically and diagonally. Roll over each side of face, chin, lips, forehead and neck. Do not force the roller into your skin
                    div.step-item
                        .step-3
                            .image
                                img(src="images/step_img_3.png", alt="")
                            .title step
                                .number 3
                            .text
                                p Following treatment, apply ANTIAGE serum
            section.the_result
                .container
                    .title__primary-title
                        h2
                            span get
                            br
                            | The Result
                    .sub_title
                        h3 Effect after first use
                    .box__card
                        div(uk-slideshow="animation: fade")
                            .slideshow-image
                            .uk-slideshow-items
                                div
                                    .info-block__left
                                        .title 
                                            h2 Pigmentation
                                        .text
                                            p Complexion evens out, skin becomes radiant, pigmentation spots gradually fade.
                                    .info-image__left
                                        img(src="images/image_after_1.jpg", alt="")
                                div
                                    .info-block__left
                                        .title 
                                            h2 Wrinkles
                                        .text
                                            p Complexion evens out, skin becomes radiant, pigmentation spots gradually fade.
                                    .info-image__left
                                        img(src="images/image_after_1.jpg", alt="")
                            .slideshow-nav
                                .image-navigation.__1(uk-slideshow-item="0")
                                .image-navigation.__2(uk-slideshow-item="1")
